<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mercearia.Model.Properties.Settings.bdMerceariaConnectionString"
            connectionString="Data Source=XABLAUPC;Initial Catalog=bdMercearia;User ID=SA;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>